
<%= f.association :placement, label: "Local de alocação" %>
<%= f.input :reason, label: "Motivo desta operação" %>

<div class="d-flex justify-content-center flex-wrap">
  <div id="insertionPoint" hidden></div>
  <%= f.simple_fields_for :items do |f2| %>
    <%= render "item_fields", :f => f2, :type => f2.object.parkable_item_type %>
  <% end %>
</div>

