

<div class="card mx-1 my-3 p-3 nested-fields w-25" style="min-width: 20em">
    <%= f.hidden_field :id %>
    <%= f.input :plate, label: "Plaqueta" %>
    <%= link_to_remove_association fa_icon(:times), f, class: "btn btn-sm btn-danger" %>
</div>
