
<div class="nested-fields">
    <%= f.input :shortDescription, label: "Descrição curta:" %>
    <%= f.input :longDescription, label: "Descrição longa:" %>
    <%= f.input :value, label: "Valor do item:"%>
    <%= link_to_remove_association "Excluir Item", f %>
</div>