
<%= simple_form_for @allocation do |allocation_form| %>

<div class="row">
    <div class="col">
        <%= f.error_notification %>
        <% if @allocation.errors[:base].any? %>
            <div class="alert alert-warning">
                <% @allocation.errors.full_messages_for(:base).each do |error| %>
                    <%= error %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<%= render 'form', locals: {:allocation_form => allocation_form} %>

<% end %>
