
<tr>
  <td><label>Tipo de conexão:</label></td>
  <td><%= @item.connection %></td>
</tr>

<tr>
  <td><label>Funções:</label></td>
  <td><%= @item.functions %></td>
</tr>

<tr>
  <td><label>Tipo de impressão:</label></td>
  <td><%= @item.paint %></td>
</tr>