
<tr>
  <td><label>Processor:</label></td>
  <td><%= @item.processor %></td>
</tr>

<tr>
  <td><label>Memória:</label></td>
  <td><%= @item.memory %></td>
</tr>

<tr>
  <td><label>Armazenamento:</label></td>
  <td><%= @item.harddrive %></td>
</tr>

