<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @placement.description %>
</p>

<%= link_to 'Editar', edit_placement_path(@placement) %> |
<%= link_to 'Voltar', placements_path %>
