
<%= simple_form_for @item do |f| %>
    <%= render 'form', f: f, render_dispose: true %>

    <div class="row">
        <div class="col"> <%= f.submit "Salvar", class: "btn btn-primary btn-block" %> </div>
        <div class="col"> <%= link_to "Cancelar", :back, class: "btn btn-secondary btn-block" %> </div>
    </div>
<% end %>
