
<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Telefones de contato:</strong>
  <%= simple_format @supplier.phones %>
</p>

<p>
  <strong>Outras informações:</strong>
  <%= simple_format @supplier.other %>
</p>
